html, body {
    font-family: sans-serif;
}

.container {
    background-color: #2b2d2f;
    position: relative;
    height: 50px;
    width: 2000px;
}

.element {
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 280px;
    font-size: 36px;
}

#yellow-box {
    background-color: #ffff00;
   
    position: static; /* default positioned element */
    bottom: 0;
    left: 0;
    right: 10px;
    top: 100px;
    /* margin-left: 20px; */
    z-index: ;
}

#pink-box {
    background-color: #ff69b4;
    
    position: relative;
    bottom: 0;
    /* left: 0; */
    right: 10px;
    top: 100px;
    z-index: -10;
}

#blue-box {
    background-color: #00eeee; /*looks for parent positioning other than static*/
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 0;
    top: 0px;
    z-index: -8;
}

#red-box {
    background-color: #ff0000;

    position: sticky;
    bottom: 0;
    left: 0px;
    right: 20px;
    top: 20px;
    z-index: -1;
}

#orange-box {
    background-color: #ffa500;
 
    position: fixed;
    bottom: 0;
    left: 30px;
    right: 0;
    top:20px;
    z-index: -2;
}